/*declaracion de variables*/
/*declaracion de mixims*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #fff !important;
}

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
}

.subtitulo {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #6558F5;
}

.title {
  text-transform: uppercase;
  margin-left: 1.5rem;
  margin-bottom: 0 !important;
  font-family: upperase large, "Plus Jakarta Sans", sans-serif;
  color: #1AAE9F;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.b-degrade {
  height: 0.2rem;
  background: rgb(189, 189, 189);
  background: linear-gradient(90deg, #fff 0%, rgb(150, 126, 197) 0%, #6558F5 48%, #1AAE9F 100%);
  background-size: 300% 100%;
  animation: gradient 5s ease infinite;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1) !important;
  border-bottom: 0.1rem transparent;
}
.menu .navbar-toggler {
  border: none !important;
}
.menu .menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: default !important;
}
.menu .menu-logo img {
  width: 3rem !important;
  height: 3rem !important;
}
.menu .menu-logo .line {
  width: 100% !important;
  height: 0.25rem !important;
  margin: 0 3%;
  background-color: #1aae9f;
}
.menu .cvu-icon {
  display: flex;
  color: #6558f5;
  margin-right: 1.5rem;
  font-size: x-large;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: color 0.25s !important;
}
.menu .cvu-icon .bi {
  margin-right: 0.5rem !important;
}
.menu .cvu-icon.active {
  color: #1AAE9F !important;
}
.menu .cvu-icon:hover {
  color: #1AAE9F !important;
}

.balance-container {
  border: 0.25rem #1AAE9F solid !important;
  margin-top: 1.5rem !important;
}
.balance-container .balance .balance-tittle {
  font-size: xx-large;
}
.balance-container .balance .balance-saldo {
  font-size: 3.5rem !important;
}
.balance-container .balance .btn-eye .bi-eye-slash-fill {
  font-size: xx-large !important;
  color: #6558F5 !important;
}
.balance-container .balance .btn-convert {
  border: 0.1rem #6558F5 solid !important;
}
.balance-container .line {
  width: 90% !important;
  height: 0.2rem !important;
  margin: 0 0.1rem 0 0.5rem !important;
  background-color: #1AAE9F;
}
.balance-container .bi {
  width: 2.5% !important;
  height: auto !important;
  margin: 0 2rem 0 0 !important;
  color: #1AAE9F;
  padding: 0 !important;
}

.prestamos-container {
  border: 0.25rem #1AAE9F solid !important;
}
.prestamos-container .prestamos-tittle {
  display: inline-block !important;
  font-size: x-large !important;
}
.prestamos-container .prestamos-saldo {
  margin-left: 3rem !important;
  font-size: large !important;
}
.prestamos-container .line {
  width: 85% !important;
  height: 0.15rem !important;
  margin: 0 0.1rem 0 0.5rem !important;
  background-color: #1AAE9F;
}
.prestamos-container .bi {
  width: 2% !important;
  height: auto !important;
  margin: 0 2rem 0 0 !important;
  color: #1AAE9F;
}

.reservas-container {
  border: 0.25rem #1AAE9F solid !important;
  margin-top: 1.5rem !important;
}
.reservas-container .reservas-tittle {
  display: inline-block !important;
  font-size: large !important;
}
.reservas-container .reservas-saldo {
  margin-left: 3rem !important;
  font-size: medium !important;
}
.reservas-container .bi {
  width: 2% !important;
  height: auto !important;
  margin: 0 2rem 0 0 !important;
  color: #1AAE9F;
}

.historial-container {
  border: 0.25rem #1AAE9F solid !important;
  width: 100% !important;
  height: 35rem !important;
}
.historial-container .historial-tittle {
  display: inline-block !important;
  font-size: large !important;
}
.historial-container .historial-renglones .historial-btn {
  width: 7.5% !important;
  height: 2.375rem !important;
  border-radius: 0 !important;
}
.historial-container .historial-renglones .historial-buscar {
  border: none !important;
  border-left: 0.2rem solid #6558F5 !important;
  border-radius: 0 !important;
  width: 90% !important;
  height: 2.375rem !important;
}
.historial-container .historial-renglones .line-vert {
  width: 1px !important;
  height: 2.375rem !important;
  background-color: #6558F5;
}

.ventana-flotante {
  position: fixed;
  width: 30rem !important;
  height: 11.5rem !important;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  z-index: 1000;
  display: none;
}
.ventana-flotante .title {
  color: #6558F5;
  font-size: x-large;
  margin-left: 0%;
}
.ventana-flotante .cerar-vf,
.ventana-flotante .copiar-cvu {
  position: absolute;
  background-color: #fff;
  border: none;
}
.ventana-flotante .cerar-vf .bi,
.ventana-flotante .copiar-cvu .bi {
  font-size: x-large !important;
}
.ventana-flotante .cerar-vf {
  top: 1.5%;
  right: 0.75%;
  width: 8.5% !important;
  height: 15% !important;
}
.ventana-flotante .copiar-cvu {
  bottom: 10%;
  right: 0.75%;
  width: 8.5% !important;
  height: 15% !important;
}
.ventana-flotante .cvu,
.ventana-flotante .alias,
.ventana-flotante .cuil {
  font-weight: bold;
  margin-top: 0.5rem;
}
.ventana-flotante .notificacion {
  display: none;
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1001;
}

.fondo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.btn-acciones {
  background: #fff;
  position: relative;
  width: 7.5rem !important;
  height: 7.5rem !important;
  cursor: pointer;
  border: 1px solid #1AAE9F;
  border-radius: 50%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  transition: 800ms ease;
}
.btn-acciones:hover {
  background-color: #9991f5;
  border-radius: 0%;
  border-color: #6558F5;
}
.btn-acciones:before, .btn-acciones:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
  background: #6558F5;
  transition: 400ms ease all;
}
.btn-acciones:after {
  right: inherit;
  top: inherit;
  left: 0%;
  bottom: 0;
}
.btn-acciones:hover:before, .btn-acciones:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/*# sourceMappingURL=styles.css.map */
