/*declaracion de variables*/
$bgColor: #fff;
$primaryColor: #1AAE9F;
$seccondaryColor: #6558F5;
$titleFont:  upperase large, 'Plus Jakarta Sans', sans-serif;
$subtitleFont: uppercase medium, "Roboto", sans-serif;
$p-default: 0.5rem;