.balance-container {
  border: 0.25rem $primaryColor solid !important;
  margin-top: 1.5rem !important;

  .balance {
    .balance-tittle {
      font-size: xx-large;
    }
    .balance-saldo {
      font-size: 3.5rem !important;
    }
    .signo-monetario {
      padding: 0 1rem;
    }
    .btn-eye {
      color: $seccondaryColor;
      font-size: x-large;
    }
    .btn-convert {
      border: 0.1rem $seccondaryColor solid !important;
      transition: all 0.4s ease-in step-end;

      &:hover {
        .convert-icon {
          color: #fff !important;
        }
        border-color: $primaryColor !important;
        background-color: $seccondaryColor !important;
        color: #fff !important;
      }
    }
  }
  .line {
    @include sizes(0.2rem, 90%);
    margin: 0 0.1rem 0 0.5rem !important;
    background-color: $primaryColor;
  }
  .convert-icon,
  .row-icon {
    @include sizes(auto, 2.5%);
    margin: 0 2rem 0 0 !important;
    color: $primaryColor;
    padding: 0 !important;
  }
  .ganancia-cant,
  .ganancia-title,
  .ganacia-porcen {
    font-size: large !important;
    margin-bottom: 0 !important;
  }
  .ganancia-cant {
    padding-left: 2.5rem !important;
  }
  .ganancia-title {
    text-align: center;
  }
  .ganacia-porcen {
    color: $primaryColor;
    padding-right: 15rem !important;
    text-align: end;
  }
}
