.prestamos-container {
  border: 0.25rem $primaryColor solid !important;

  .prestamos-tittle {
    display: inline-block !important;
    font-size: x-large !important;
  }
  .prestamos-saldo {
    margin-left: 3rem !important;

    font-size: large !important;
  }

  .line {
    @include sizes(0.15rem, 85%);
    margin: 0 0.1rem 0 0.5rem !important;
    background-color: $primaryColor;
  }
  .bi {
    @include sizes(auto, 2%);
    margin: 0 2rem 0 0 !important;
    color: $primaryColor;
  }
}
